/*.container {
  background: rgb(6, 3, 10);
  background: linear-gradient(
    338deg,
    rgba(6, 3, 10, 1) 0%,
    rgba(0, 0, 0, 1) 35%,
    rgba(6, 3, 10, 1) 100%
  );
}
*/
.btn {
  background: rgb(95, 58, 154);
  background: linear-gradient(
    100deg,
    rgba(95, 58, 154, 1) 0%,
    rgba(105, 49, 217, 1) 35%,
    rgba(26, 4, 133, 1) 100%
  );
}

.btn:hover {
  background: rgb(95, 58, 154);
  background: linear-gradient(
    142deg,
    rgba(95, 58, 154, 1) 0%,
    rgba(105, 49, 217, 1) 35%,
    rgba(26, 4, 133, 1) 100%
  );
  transition-delay: 6s;
}
